@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(./res/MaterialIcons-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./res/PotanoSans-Regular.ttf) format('ttf');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  vertical-align: middle;
  padding-bottom: 2px;
}

:root {
  --brighter-1: rgba(255, 255, 255, 0.1);
  --brighter-2: rgba(255, 255, 255, 0.3);
  --brighter-3: rgba(255, 255, 255, 0.5);
  --brighter-4: rgba(255, 255, 255, 0.7);

  --darker-1: rgba(0, 0, 0, 0.1);
  --darker-2: rgba(0, 0, 0, 0.3);
  --darker-3: rgba(0, 0, 0, 0.5);
  --darker-4: rgba(0, 0, 0, 0.7);

  --red-highlight: rgba(196, 0, 0, 0.4);
  --green-highlight: rgba(0, 196, 0, 0.4);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Potano Sans', Verdana, sans-serif;
  background: #272422;
  color: #ddd;
  margin: 30px 0 0 0;
}

* {
  box-sizing: border-box;
  user-select: none;
}

h2 {
  font-weight: normal;
}

p {
  margin: 0 0 0.5em 0;
}

body.dragging * {
  cursor: col-resize;
}

select {
  outline: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: #272422;
  width: 6px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 4px;
  padding: 4px;
}

#midisettings {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2f2f2f;
  padding: 2px 5px;
  font-size: 12px;
  color: var(--brighter-3);
  box-shadow: 0 2px 5px #272422;
  border-bottom: 1px solid #000;

  text-align: center;
}

#midisettings .controls {
  display: inline-block;
  text-align: left;
}

#midisettings .block {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

#midisettings .row {
  padding: 4px;
  min-height: 24px;
}

#midisettings label {
  display: inline-block;
  min-width: 35px;
}

#midisettings .clocksettings {
  background-color: #3c3c3c;
}

#midisettings select {
  width: 170px;
  border: 1px solid var(--darker-3);
  border-radius: 4px;
  background-color: var(--darker-2);
  color: var(--brighter-3);
  font-size: 12px;
  padding: 0;
  transition: background-color 1s, color 1s;
}

.updated #midisettings select,
.updated .zone select.outport {
  background-color: #fff;
  color: #000;
}

select#midiInChannel {
  width: auto;
}

.onlyinternal {
  opacity: 0.2;
  pointer-events: none;
}

.internalClock .onlyinternal {
  opacity: 1;
  pointer-events: all;
}

.toolbar {
  margin-bottom: 12px;
}

.toolbar .lightButton .material-icons {
  font-size: 16px;
}

.lightButton {
  display: inline-block;
  padding: 0 4px;
  background: #464048;
  color: #777;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 26px;
  text-align: center;
  height: 16px;
  vertical-align: top;
  margin: 0 4px;
  box-shadow: 0 0 2px #000;
}

.lightButton.active {
  background: #666;
  color: #ccc;
}

.lightButton .material-icons {
  font-size: 14px;
}

#midisettings .left,
#midisettings .right {
  text-align: left;
  position: absolute;
  bottom: 5px;
}

#midisettings .left {
  left: 20px;
}
#midisettings .right {
  right: 20px;
  text-align: right;
}

#displayBPM {
  display: inline-block;
  text-align: center;
  background-color: var(--darker-2);
  border: 1px solid var(--darker-3);
  border-radius: 4px;
  width: 50px;
  cursor: col-resize;
}

#displayBPM:hover,
.dragging #displayBPM {
  color: #0cc;
  box-shadow: 0 0 10px #0cc;
}

.padded {
  padding: 24px 14px 0 14px;
}

#zones {
  min-height: 30px;
}

#tools {
  width: 100%;
  margin: 0 auto;
  padding: 4px 10px;
  border-radius: 8px;
}

.zonedrag #tools {
  background-color: #333;
}

#newzone {
  background: #444;
  border-radius: 8px;
  width: 48px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  color: #888;
  cursor: pointer;
}

#newzone:hover {
  background: #888;
  color: #ccc;
}

.zone {
  position: relative;
  color: var(--brighter-4);
  font-size: 12px;
  background-color: #444;
  margin: 20px auto;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  width: 100%;
  min-width: 960px;
  box-shadow: 0 2px 10px #111;
}

.zone.dragged {
  position: absolute;
  cursor: grabbing;
  z-index: 1;
  opacity: 0.8;
}
.zone.initialising {
  text-align: center;
  padding: 30px;
  color: #ccc;
}

.dragging .zone {
  transition: margin 250ms 50ms;
}

.zone.disabled {
  opacity: 0.4;
  box-shadow: none;
}

.zone input[type='color'] {
  display: none;
}

.channels {
  max-width: 900px;
}

.ch {
  display: inline-block;
  padding: 4px 0;
  width: 24px;
  height: 20px;
  line-height: 12px;
  font-size: 12px;
  margin-left: 8px;
  text-align: center;
  color: var(--brighter-3);
  background-color: var(--darker-1);
  cursor: pointer;
  border-radius: 4px;
}

.ch.enabled.selected,
.ch.selected {
  background-color: var(--brighter-2);
  color: #000;
  border-color: transparent;
}

.ch.enabled,
.soloed-out .ch.enabled.selected,
.zone.disabled .ch.enabled.selected {
  background-color: var(--darker-1);
}

.check.arp_hold.selected {
  background-color: var(--red-highlight);
  color: var(--brighter-3);
}

.ch.solo {
  margin-right: 2%;
  background-color: var(--darker-1);
}

.ch.solo.selected {
  background-color: var(--green-highlight);
}

.settings,
.arp-settings {
  position: relative;
  color: var(--brighter-4);
  font-size: 12px;
}

.hidden {
  display: inline-block;
}

.hidden *,
.mch {
  opacity: 0;
  transition: opacity 2s;
}

.zone:hover .hidden *,
.zone:hover .mch,
.mch.selected {
  opacity: 1;
  transition: opacity 200ms;
}

.arp-settings {
  position: relative;
  margin-top: 12px;
  padding: 6px;
  background-color: var(--bg-color-complement-dark);
  border-radius: 0 4px 4px 4px;
  display: none;
  text-align: left;
}

.arpanchor {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 15px;
  left: 0;
  background-color: var(--bg-color-complement-dark);
}

.arp-enabled .arp-settings,
.arp-enabled .arpanchor {
  display: inline-block;
}

.check.arp_enabled.selected {
  background-color: var(--bg-color-complement);
  border-radius: 5px 5px 0 0;
}

.rtool {
  float: right;
  font-size: 18px;
  color: var(--brighter-2);
  border-radius: 5px;
  margin-left: 6px;
  text-align: center;
}
.rtool:hover {
  color: var(--brighter-4);
}

.rtool.delzone:hover {
  color: #900;
}

.rtool,
.rtool label {
  cursor: pointer;
}

.dragzone {
  padding: 0 4px;
  cursor: grab;
}

.dragged .dragzone {
  cursor: grabbing;
}

.check,
.val,
.toggle,
.drop-down,
.percent {
  margin-right: 8px;
  height: 20px;
}

.check,
.toggle,
.percent {
  display: inline-block;
  padding: 3px 6px 0 6px;
  border-radius: 5px;
  background-color: var(--darker-1);
  cursor: pointer;
}

.check.selected {
  background-color: var(--brighter-3);
  color: #000;
  border-color: transparent;
}
.check.selected .material-icons {
  color: var(--darker-3);
}

.sel,
.selected .unsel {
  display: none;
}
.selected .sel {
  display: inherit;
}

.check.arp_enabled {
  width: 68px;
  position: relative;
}

.percent {
  position: relative;
  width: 80px;
  text-align: center;
  padding: 1px 5px 1px 5px;
  overflow: hidden;
  vertical-align: middle;
}
.percent::after {
  content: '%';
}
.percent .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-color: var(--brighter-2);
}

.percent .pcnt {
  vertical-align: middle;
}

.val,
.drop-down {
  display: inline-block;
}

.circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--brighter-2);
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 2px;
  text-align: center;
}

.circle.selected {
  background-color: var(--brighter-2);
}

.zone select,
.zone input {
  border: none;
  background-color: var(--darker-1);
  border-radius: 4px;
  color: var(--brighter-4);
  font-size: 12px;
  padding: 0;
  text-align: center;
  box-shadow: inset -1px -1px 2px var(--darker-1);
}

.zone input {
  width: 30px;
}

.zone select.outport {
  background-color: var(--brighter-2);
  color: #000;
  vertical-align: top;
  width: 150px;
  transition: background-color 1s;
}

.zone select {
  height: 20px;
}

.valuestep {
  display: inline-block;
  color: var(--brighter-4);
  padding: 4px;
  cursor: pointer;
}

.submit {
  display: inline-block;
  color: var(--brighter-4);
  background-color: var(--darker-1);
  border-radius: 4px;
  padding: 2px 4px;
  cursor: pointer;
  margin: 0 4px;
  /* font-size: 10px; */
}

.zone select option {
  background-color: #333;
}

.range {
  position: relative;
  height: 28px;
  cursor: pointer;
  width: 100%;
  margin: 6px auto;
  border: 2px solid var(--brighter-1);
  overflow: hidden;
  border-radius: 6px;
}

.range canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
}

.marker {
  position: absolute;
  top: 7px;
  width: 32px;
  font-size: 12px;
  padding: 1px 0 0 0;
  text-align: center;
  transition: 1s left, 1s right;
}

.marker.low {
  top: 0;
}
.marker.high {
  top: 10px;
}

.marker.hover {
  background-color: var(--brighter-4);
  color: #000;
}

.join {
  position: absolute;
  top: 0;
  height: 28px;
  background-color: var(--brighter-1);
}
.current {
  display: none;
  position: absolute;
  top: 6px;
  height: 14px;
  background-color: var(--brighter-1);
}
.range:hover .current {
  display: block;
}

.oct {
  position: absolute;
  top: 0;
  background-color: var(--brighter-1);
  color: var(--brighter-2);
  width: 1px;
  bottom: 0;
  font-size: 8px;
  text-indent: 4px;
}

.toggle {
  margin-left: 7px;
  width: 50px;
  text-align: center;
}

.toggle.selected {
  background-color: var(--red-highlight);
}

#startClockButton::before {
  content: 'Start';
}
#startClockButton.selected::before {
  content: 'Stop ';
}

.pattern {
  position: relative;
  border-radius: 4px;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.zone .euclid {
  position: absolute;
  cursor: default;
  display: none;
  width: 170px;
  padding: 8px;
  background-color: var(--bg-color);
  box-shadow: 0 0 8px #000;
  border-radius: 4px;
  bottom: 20px;
  right: 0;
  text-align: center;
  line-height: 1.2em;
  transition: opacity 667ms;
}

.val.prgm {
  background-color: var(--darker-1);
  border-radius: 4px;
  vertical-align: top;
}

#loadsave {
  position: fixed;
  background: #444;
  padding: 0 10px 10px 10px;
  top: 30px;
  left: 20px;
  z-index: 2;
  font-size: 12px;
  display: none;
  min-width: 200px;
  box-shadow: 0 0 10px #000;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
  padding: 0;
}

li {
  display: block;
  margin: 0.5em 0;
  padding: 4px;
  background: #555;
  border-radius: 5px;
}

#loadsave li {
  cursor: pointer;
  border: 1px solid transparent;
}

#loadsave li i {
  float: right;
  border-left: 1px solid var(--brighter-2);
  padding: 0 3px;
}

#loadsave li i:hover {
  background-color: #069;
}

#loadsave .save *[data-act='add'] {
  display: none;
}

#loadsave li:hover {
  border-color: #999;
}

#loadsave input {
  border: 1px solid var(--darker-3);
  border-radius: 4px;
  background-color: var(--darker-2);
  color: var(--brighter-3);
  padding: 0;
}

.ccpots {
  display: none;
  margin-top: 8px;
  padding: 8px 0 0 0;
  border-radius: 4px;
  font-size: 10px;
}

.show-cc .ccpots {
  display: block;
}

.showccs {
  padding: 0 4px;
}

.show-cc .showccs {
  box-shadow: 1px 1px 2px var(--darker-3) inset;
  color: var(--brighter-4);
}

.ccpot {
  display: inline-block;
  position: relative;
  width: 56px;
  height: 56px;
  vertical-align: top;
  margin: 0 0 20px 0;
}

.ccpot input {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.ccpot svg {
  position: absolute;
  top: 0;
  left: 0;
}

.ccpot .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 9px;
}

.ccpot .value {
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  text-align: center;
}

.ccpot .cc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 9px;
  color: var(--brighter-2);
}

.ccpotttools {
  display: inline-block;
  width: 56px;
  vertical-align: bottom;
  font-size: 18px;
  color: var(--brighter-2);
  margin-bottom: 20px;
}

.ccpot .tools {
  opacity: 0;
  position: absolute;
  text-align: center;
  padding: 2px 2px 0 2px;
  top: 100%;
  width: 100%;
  font-size: 12px;
  z-index: 1;
  color: var(--brighter-2);
  background-color: var(--bg-color);
  /* box-shadow: 0 1px 3px var(--darker-2); */
  transition: opacity 300ms;
}

.ccpot .tools:hover {
  opacity: 1;
}

.ccpot .tools span:hover {
  color: var(--brighter-4);
}

.ccpots *[data-action] {
  cursor: pointer;
}
