:root {
  --text-base-color: #f0f6f8;
  --text-toast-color: #333;
  --text-contextmenu-color: #f0f6f8;
  --bg-window: #272422;
  --fg-window: #ddd;
  --scrollbar: #383838;
  --bg-topbar: #2f2f2f;
  --bg-topbar-transparent: #2f2f2f9f;
  --shadow-topbar: #272422;
  --border-topbar: #000;
  --highlight-topbar: #3c3c3c;
  --bg-topbar-button: #464048;
  --fg-topbar-button: var(--brighter-3);
  --shadow-topbar-button: #0008;
  --bg-topbar-button-active: #666;
  --fg-topbar-button-active: #ccc;
  --highlight-bpm-value: #0cc;
  --fg-midi-update: #000;
  --bg-midi-update: #fff;
  --bg-loadsave: #444;
  --bg-loadsave-item: #555;
  --bg-select-window: #111;
  --bg-toast: #ff9;
  --bg-contextmenu: #efc;
  --shadow-zone: #111;

  --bg-zone-disabled: rgba(255, 255, 255, 0.07);

  --brighter-0: rgba(255, 255, 255, 0.125);
  --brighter-1: rgba(255, 255, 255, 0.25);
  --brighter-2: rgba(255, 255, 255, 0.5);
  --brighter-3: rgba(255, 255, 255, 0.75);
  --brighter-4: rgba(255, 255, 255, 1);

  --darker-0: rgba(0, 0, 0, 0.075);
  --darker-1: rgba(0, 0, 0, 0.15);
  --darker-2: rgba(0, 0, 0, 0.34);
  --darker-3: rgba(0, 0, 0, 0.5);
  --darker-4: rgba(0, 0, 0, 1);

  --red-highlight: rgba(196, 0, 0, 0.4);
  --orange-highlight: #df8e4b;
  --record-highlight: rgba(255, 0, 0, 0.8);
  --green-highlight: rgba(0, 196, 0, 1);
}

.zone[data-colorindex='0'] {
  --zone-color: #2a4f5f;
  --bg-color-popup: #477081;
}
.zone[data-colorindex='1'] {
  --zone-color: #2a9d8f;
  --bg-color-popup: #3bb1a4;
}
.zone[data-colorindex='2'] {
  --zone-color: #e9c46a;
  --bg-color-popup: #e0bb5d;
}
.zone[data-colorindex='3'] {
  --zone-color: #f4a261;
  --bg-color-popup: #df8e4b;
}
.zone[data-colorindex='4'] {
  --zone-color: #e76f51;
  --bg-color-popup: #e17e66;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(./res/MaterialIcons-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./res/PotanoSans-Regular.ttf) format('ttf');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Potano Sans', Verdana, sans-serif;
  background: var(--bg-window);
  color: var(--fg-window);
  margin: 30px 0 0 0;
}

* {
  box-sizing: border-box;
  user-select: none;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
}

p {
  margin: 0 0 0.5em 0;
}

body.dragging * {
  cursor: col-resize;
}

select {
  outline: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  padding: 4px;
}

#midisettings {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-topbar);
  padding: 2px 5px;
  font-size: 12px;
  color: var(--brighter-3);
  box-shadow: 0 2px 5px var(--shadow-topbar);
  border-bottom: 1px solid var(--border-topbar);
}

#midisettings .controls {
  margin: 0 auto;
}

#midisettings .row {
  display: flex;
  align-items: center;
  padding: 2px 0;
  min-height: 24px;
}

#midisettings label {
  display: inline-block;
  min-width: 38px;
}

#midiInputSelector {
  position: relative;
  height: 18px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 380px;
  border: 1px solid var(--darker-3);
  background-color: var(--darker-2);
  color: var(--brighter-3);
  font-family: Arial;
  font-size: 12px;
  padding: 0 0 0 4px;
  margin: 0 0 0 2px;
}

#clockSendButton::after,
#midiInputSelector::after {
  content: '⌄';
  position: absolute;
  font-size: 15px;
  color: var(--brighter-3);
  right: 0;
  top: -40%;
}

#midisettings select,
.clockOutOption select {
  width: 170px;
  border: 1px solid var(--darker-3);
  background-color: var(--darker-2);
  color: var(--brighter-3);
  font-size: 12px;
  padding: 0;
  margin: 0 2px;
}

#midiInputSelector,
#midisettings select {
  transition: background-color 1s, color 1s;
}

option {
  color: black;
}

.clockOutOption select {
  width: auto !important;
}

#midisettings input {
  width: 40px;
  border: 1px solid var(--darker-3);
  background-color: var(--darker-2);
  color: var(--brighter-3);
  font-size: 12px;
  padding: 0;
}

#midisettings input:focus-visible {
  outline: none;
}

#midisettings .toggle {
  background-image: linear-gradient(#00000000, #00000040);
  padding: 0 10px;
  margin-right: 7px;
}

#midisettings .internal {
  visibility: hidden;
}

#midisettings .isInternal .internal {
  visibility: visible;
}

#clockSendButton {
  position: relative;
  background-color: var(--darker-2);
  border: 1px solid var(--darker-3);
  cursor: pointer;
  display: flex;
  height: 18px;
  padding: 0 4px 0 0;
  align-items: center;
  margin-left: 2px;
  min-width: 55px;
}

.toolbar {
  margin-bottom: 6px;
}

.toolbar .lightButton .material-icons {
  font-size: 16px;
}

.lightButton {
  display: inline-block;
  padding: 0 4px;
  background: var(--bg-topbar-button);
  color: var(--fg-topbar-button);
  cursor: pointer;
  border: none;
  min-width: 24px;
  text-align: center;
  height: 16px;
  vertical-align: top;
  margin: 0 4px 0 0;
  box-shadow: 0 0 2px var(--shadow-topbar-button);
}

.lightButton.active {
  background: var(--bg-topbar-button-active);
  color: var(--fg-topbar-button-active);
}

.lightButton .material-icons {
  font-size: 14px;
}

.lsCancel {
  position: absolute;
  top: 0.5em;
  right: 2px;
  cursor: pointer;
  font-size: 1.5em;
}

#midisettings .left {
  margin: 0 0 0 8px;
}

#displayBPM {
  display: inline-block;
  text-align: center;
  background-color: var(--darker-2);
  border: 1px solid var(--darker-3);
  width: 50px;
  cursor: col-resize;
}

#displayBPM:hover,
.dragging #displayBPM {
  color: var(--highlight-bpm-value);
  box-shadow: 0 0 10px var(--highlight-bpm-value);
}

#displayBPM:hover,
.dragging #displayBPM {
  color: var(--highlight-bpm-value);
  box-shadow: 0 0 10px var(--highlight-bpm-value);
}

.padded {
  padding: 30px 5px 0 5px;
}

#zones {
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
  margin-bottom: 60px;
}

@media (max-width: 1220px) {
  #zones {
    display: block;
  }
  .zone {
    width: 90% !important;
    margin: 0 auto 5px auto;
  }
  .zone .euclid {
    right: auto !important;
    left: 250px;
  }
}

.zone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  position: relative;
  color: var(--brighter-4);
  font-size: 12px;
  padding: 8px;
  width: 600px;
  box-shadow: 0 2px 10px var(--shadow-zone);
  background-color: var(--zone-color);
  background-image: linear-gradient(#00000000, #00000040);
  border-radius: 6px;
  --bg-color: var(--zone-color);
}

.zone.placeholder {
  visibility: hidden;
}

.zonenumber {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: var(--darker-0);
  font-size: 25px;
  font-weight: bold;
  pointer-events: none;
}

.zone.droptarget {
  outline: 4px solid #eee;
}

.zone.dragged {
  position: absolute;
  cursor: grabbing;
  z-index: 1;
  opacity: 0.8;
}

.zone.initialising {
  text-align: center;
  padding: 30px;
  color: var(--fg-window);
}

.dragging .zone {
  transition: margin 250ms 50ms;
}

.zone.disabled {
  box-shadow: none;
  background-image: none;
  background-color: var(--bg-zone-disabled);
  --bg-color: var(--bg-zone-disabled);
  --text-base-color: #767a7b;
}

.zone.disabled:not(.soloed-out) .ch.enabled:not(.selected) {
  background-color: var(--zone-color);
}

.zone input[type='number'],
.zone input[type='text'] {
  height: 20px;
  padding: 0 0 0 0;
  min-width: 4em;
}

.zone .check input[type='number'] {
  height: auto;
  padding: 0;
  margin: 0 0 0 4px;
  background-color: transparent;
  text-align: start;
  font-size: 11px;
  border: 1px solid var(--brighter-2);
  text-align: right;
}

.channels {
  display: flex;
  gap: 6px;
}

.ch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 20px;
  text-align: center;
  color: var(--brighter-4);
  background-color: var(--darker-1);
  cursor: pointer;
}

.state.selected {
  box-shadow: 0 0 8px var(--darker-2);
}

.outselection {
  position: relative;
  margin-left: 13px;
}

.channels input.output-config-name {
  position: absolute;
  left: 0;
  text-align: left;
  width: 130px;
  background-color: var(--bg-color);
  color: var(--text-base-color);
  height: 20px;
  padding: 0 4px;
}

.output-config-name::placeholder {
  color: var(--text-base-color);
}

.disabled .channels input.output-config-name {
  background-color: #333333;
}

.sendClock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--brighter-1);
  cursor: pointer;
}

.sendClock.selected {
  color: var(--text-base-color);
}
.ch.enabled.selected,
.ch.selected {
  border-color: transparent;
  background-color: var(--brighter-2);
  color: var(--text-base-color);
}

.ch.enabled.selected {
  color: var(--text-base-color);
}

.ch.enabled:not(.selected) {
  background-color: var(--brighter-1);
}
.isdisabled {
  display: none;
}

.disabled .isdisabled {
  display: inline;
}

.disabled .isenabled {
  display: none;
}

.ch.enabled,
.soloed-out .ch.enabled.selected,
.zone.disabled .ch.enabled.selected {
  background-color: var(--darker-1);
}

.check.arp_hold.selected {
  background-color: var(--red-highlight);
  color: var(--brighter-3);
}

.disabled .check.arp_hold.selected {
  background-color: var(--record-highlight);
  color: var(--brighter-3);
}

.ch.solo {
  background-color: var(--darker-1);
}

.ch.solo.selected {
  background-color: var(--green-highlight);
}

.settings,
.arp-settings {
  position: relative;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  color: var(--text-base-color);
}

.zone.disabled .range,
.zone.disabled .toggle_filters {
  pointer-events: none;
}

.arp-settings {
  display: none;
  gap: 5px;
  padding: 4px;
  background-color: var(--bg-color);
}

.arp-enabled .arp-settings {
  display: flex;
  align-items: center;
}

.zonetools {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

.rtool {
  font-size: 14px;
  color: var(--text-base-color);
  margin-left: 6px;
  text-align: center;
}

.rtool:hover {
  color: var(--brighter-4);
}

.step-info-close:hover,
.rtool.delzone:hover {
  color: #900;
  text-shadow: 0 0 2px #fff;
}

.rtool,
.rtool label {
  cursor: pointer;
}

.rtool .material-icons {
  vertical-align: top;
}

.dragzone {
  padding: 0 4px;
  cursor: grab;
}

.dragged .dragzone {
  cursor: grabbing;
}

.action,
.action-light {
  transition: background-color ease-out 200ms;
  cursor: pointer;
}

.action:active,
.action-light:active {
  background-color: var(--brighter-4);
}

.action-light:hover {
  text-decoration: underline;
}

.action.warn {
  background-color: var(--red-highlight);
}

.action.toggle_filters {
  margin-left: 26px;
  background-color: transparent;
}
.action.toggle_filters:hover {
  background-color: var(--darker-1);
}

.check {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.check:hover {
  outline: 1px solid var(--brighter-2);
  outline-offset: 2px;
}

.action,
.action-light,
.val,
.toggle,
.action-hover,
.drop-down {
  height: 20px;
  display: flex;
  align-items: center;
}

.action,
.action-hover,
.toggle {
  padding: 0 6px;
  background-color: var(--darker-1);
  cursor: pointer;
  min-width: 55px;
}

.action,
.action-hover {
  min-width: 0;
}

.patgen {
  margin-left: 4px;
}

.check.mini {
  font-size: 0.66em;
  height: 14px;
}

.sel,
.selected .unsel {
  display: none;
}

.selected .sel {
  display: inherit;
}

.sel,
.unsel {
  margin-right: 4px;
  font-size: 14px;
}

.unsel {
  color: var(--brighter-2);
}

.zone input.percent {
  width: 80px;
  background: var(--brighter-1);
}

.percent-holder {
  position: relative;
}
.percent-holder:hover output {
  display: block;
}
.percent-holder output {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: -6px;
  font-size: 9px;
  text-align: center;
  pointer-events: none;
}

input[type='range'] {
  /* -webkit-appearance: none; */
  appearance: none;
}

.zone input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: var(--brighter-1);
  border: none;
  border-radius: 3px;
}

.zone input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  margin-top: -3px;
}

.zone.disabled input[type='range']::-webkit-slider-thumb {
  background: #999;
}

.zone input[type='range']:focus {
  outline: none;
}

.zone input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--brighter-1);
}

.octaves {
  border-right: 1px solid var(--brighter-2);
  height: 14px !important;
}

.octselect {
  display: inline-flex;
  width: 14px;
  height: 14px;
  border: 1px solid var(--brighter-2);
  border-right: none;
  cursor: pointer;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.octselect.octcenter:not(.selected)::after {
  content: '·';
  color: var(--brighter-2);
  font-size: 0.75em;
}

.octselect.selected {
  background-color: var(--brighter-2);
  border: 1px solid var(--brighter-2);
}

.octselect.selected + .octselect {
  border-left: none;
}

.zone select,
.zone input {
  border: none;
  background-color: var(--darker-1);
  color: var(--text-base-color);
  font-size: 12px;
  padding: 0;
  text-align: center;
}

.zone input {
  width: 30px;
  vertical-align: middle;
}

::placeholder {
  color: var(--brighter-2);
  opacity: 1;
}

.zone select.outport {
  background-color: transparent;
  vertical-align: top;
  width: 150px;
  text-align: left;
}

.zone select.channel {
  background-color: transparent;
}

.zone select {
  height: 20px;
}

.range {
  position: relative;
  height: 28px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.dragvalue .range,
.dragvalue .zone:not(.show-cc) {
  pointer-events: none;
}

.range canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
}

.rangeborder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--brighter-1);
}

.marker {
  position: absolute;
  display: none;
  top: 7px;
  width: 32px;
  font-size: 12px;
  padding: 1px 0 0 0;
  text-align: center;
  transition: 400ms left, 400ms right;
}

.marker.low {
  top: 0;
}

.marker.high {
  top: 10px;
}

.rangeholder:hover .marker {
  display: block;
}

.join {
  position: absolute;
  top: 0;
  height: 28px;
  background-color: var(--brighter-0);
}

.current {
  display: none;
  position: absolute;
  top: 6px;
  height: 14px;
  background-color: var(--brighter-1);
}

.range:hover .current {
  display: block;
}

.oct {
  position: absolute;
  top: 0;
  background-color: var(--brighter-0);
  color: var(--brighter-1);
  width: 1px;
  bottom: 0;
  font-size: 8px;
  text-indent: 4px;
}

.show-seq .rangeholder {
  margin-top: 0;
}

.show-seq .range,
.show-seq .join {
  height: 14px;
}

.show-seq .current {
  top: 2px;
  height: 10px;
}

.show-seq .marker {
  font-size: 50%;
  width: 16px;
}

.show-seq .marker.high {
  top: 5px;
  padding-right: 6px;
}

.show-seq .oct {
  overflow: hidden;
}

.toggle {
  margin-left: 7px;
  width: 50px;
  text-align: center;
}

.toggle.selected {
  background-color: var(--red-highlight);
}

#startClockButton::before {
  content: 'Start';
}

#startClockButton.selected::before {
  content: 'Stop ';
}

.pattern {
  position: relative;
  cursor: pointer;
  background-color: var(--brighter-0);
  padding: 0 1px;
}

.pattern canvas {
  vertical-align: middle;
}

.zone .euclid {
  position: absolute;
  cursor: default;
  display: none;
  top: 100%;
  right: 8px;
  text-align: center;
  line-height: 1.2em;
  z-index: 1;
}

.euclid > div {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 8px;
}

#loadsave {
  position: fixed;
  background: var(--bg-loadsave);
  padding: 0 10px 10px 10px;
  top: 30px;
  left: 20px;
  z-index: 2;
  font-size: 12px;
  display: none;
  min-width: 200px;
  box-shadow: 0 0 10px var(--shadow-zone);
  max-height: 90vh;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
  padding: 0;
}

li {
  display: block;
  cursor: pointer;
}

#loadsave li {
  border: 1px solid transparent;
  margin: 0.5em 0;
  padding: 4px;
  background: var(--bg-loadsave-item);
}

#loadsave li i {
  float: right;
  border-left: 1px solid var(--brighter-2);
  padding: 0 3px;
}

#loadsave li i:hover {
  background-color: #069;
}

#loadsave .save *[data-act='add'] {
  display: none;
}

#loadsave li:hover {
  border-color: var(--brighter-1);
}

#loadsave input {
  border: 1px solid var(--darker-3);
  background-color: var(--darker-1);
  color: var(--brighter-3);
  padding: 1px 2px;
}

.ccpots {
  display: none;
  position: relative;
  padding: 8px 8px 8px 0;
  /* font-size: 10px; */
  flex-wrap: wrap;
  --ccpot-width: 64px;
  background-color: var(--bg-color);
}

.show-cc .ccpots {
  display: flex;
}

.show-cc .showccs {
  background-color: var(--brighter-2);
}

.show-seq .showseq {
  background-color: var(--brighter-2);
}

.ccpot {
  position: relative;
  width: var(--ccpot-width);
  height: 72px;
}

.cc-edit .ccpot.selected {
  background-color: var(--bg-color-popup);
  box-shadow: 0 0.5px 2px var(--darker-4);
}

.cc-edit .ccpot {
  cursor: pointer;
}

.ccpot[data-type='2'] * {
  display: none;
}

.cc-edit .ccpot[data-type='2']::after {
  content: '(spacer)';
  position: absolute;
  font-size: 9px;
  font-style: italic;
  bottom: 15%;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--brighter-3);
}

.ccpots.cc-edit .edit-cc-button {
  background-color: var(--brighter-1);
}

.ccpot svg {
  position: absolute;
  top: 6px;
  left: 0;
}

.ccpot .cclabel {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 9px;
  color: var(--text-base-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--brighter-1);
}

.ccpot .value {
  position: absolute;
  cursor: default;
  top: 38px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 9px;
}

.cc-editor {
  display: none;
  position: absolute;
  left: 8px;
  right: 8px;
  z-index: 1;
  top: 100%;
}

.cc-edit .cc-editor {
  display: block;
}

.cc-editor .values {
  border-top: 1px solid var(--brighter-1);
  padding-top: 5px;
}

.cc-editor[data-type='2'] .values {
  visibility: hidden;
}

.cc-editor:not([data-type='0']) .minmax {
  display: none;
}

.ccpotttools {
  position: absolute;
  right: 5px;
  bottom: 0;
  color: var(--text-base-color);
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 5px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 5px;
}

.cc_buttons {
  display: flex;
  justify-content: center;
}
.cc_buttoncontainer {
  display: none;
  padding: 5px 0;
  border: 1px solid var(--brighter-1);
}

.cc-editor[data-type='3'] .cc_buttoncontainer {
  display: block;
}

.ccpot .ccpotcontroller {
  display: none;
}

.ccpot[data-type='0'] .rotary,
.ccpot[data-type='1'] .rotary {
  display: block;
}
.ccpot[data-type='3'] .buttons {
  display: flex;
  flex-direction: column;
  height: 56px;
  justify-content: space-evenly;
  /* border: 2px solid var(--darker-1); */
  background-color: var(--darker-1);
  border-radius: 4px;
  margin: 2px 2px 0 2px;
}

.cc-edit .buttons {
  pointer-events: none;
}

.ccbtn {
  font-size: 9px;
  padding: 0 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  text-align: center;
  /* border: 1px solid var(--darker-1);
  background-color: var(--darker-0); */
  cursor: pointer;
  /* border-radius: 2px; */
  color: var(--text-base-color);
}

.ccbtn:hover,
.ccbtn.selected {
  background-color: var(--brighter-3);
  /* border-color: var(--brighter-2); */
  color: var(--darker-4);
}

.innertoggle {
  font-size: 0.75em;
  border: 1px solid var(--brighter-2);
  color: var(--brighter-2);
  padding: 0 3px;
  float: right;
  margin-left: 5px;
}

.innertoggle.selected {
  color: var(--brighter-4);
  background-color: var(--brighter-2);
}

.arp-settings .innertoggle {
  border-color: var(--brighter-1);
  color: var(--brighter-3);
}

.arp-settings .innertoggle.selected {
  color: var(--brighter-4);
}

.arp-settings .innertoggle.selected {
  background-color: var(--brighter-2);
}

.fixedvel select {
  height: 12px;
  font-size: 8px;
  vertical-align: middle;
}

.clockIndicator.hasClock {
  border-right-color: #0a0 !important;
}

.seq {
  display: none;
  margin: 4px 0;
  position: relative;
  background-color: var(--bg-color);
  --step-size: 20px;
}

.disabled .seq {
  background-color: transparent;
}

.seqtools {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6px 8px;
}

.show-seq .seq {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}

.seq .grid {
  position: relative;
  padding: 0 8px 5px 8px;
  display: flex;
  align-items: flex-start;
}

.seq-layer-indicator {
  width: 48px;
  margin-top: 4px;
  padding: 0 4px;
  text-align: center;
  color: var(--brighter-3);
  background-color: var(--darker-1);
}

.zone.disabled.show-seq .seq-layer-indicator {
  margin-top: 0;
  color: var(--brighter-1);
  font-size: 10px;
}

.seq-layer-indicator.pending {
  animation: layerChangeIndication 500ms infinite alternate linear;
}

@keyframes layerChangeIndication {
  0% {
    background-color: var(--darker-1);
  }
  100% {
    background-color: var(--brighter-2);
  }
}

.step-container {
  display: flex;
  flex-wrap: wrap;
  width: calc((var(--step-size) + 4px) * 16 + 5px);
}

.seq .grid .step,
.step-info .stepmarker {
  display: flex;
  position: relative;
  margin: 2px 4px 2px 0;
  width: var(--step-size);
  height: var(--step-size);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--darker-1);
  color: var(--darker-2);
  background-color: var(--darker-1);
  font-size: 0.85em;
  text-align: center;
  cursor: pointer;
  transition: background-color 200ms ease-out;
}

.step-info .stepmarker {
  display: inline-flex;
  cursor: default;
}

.showarp {
  letter-spacing: -0.5px;
}

.disabled .seq .grid .step {
  height: 5px;
  color: transparent;
  font-size: 0;
  overflow: hidden;
}

.zone.disabled.arp-enabled .showarp {
  background-color: var(--zone-color);
  color: var(--brighter-3);
}

.zone.disabled.show-seq .showseq {
  background-color: var(--zone-color);
}

.zone.disabled .seq .grid .step {
  border: none;
  background-color: var(--darker-2);
}

.zone.disabled .seq .grid .step.active {
  background-color: var(--zone-color);
}

.seq .grid .step:hover {
  background-color: var(--brighter-2) !important;
}

.seq .grid .step.playhead {
  outline: 2px solid var(--brighter-4);
}

.seq .grid .step.unused {
  display: none;
}

.seq .grid .step.active,
.step-info .stepmarker {
  background-color: var(--brighter-1);
  border-color: var(--brighter-3) !important;
  color: var(--brighter-4);
}

.steps-changed .step.active,
.seq.hot .steps-changed .step.selected-step {
  background-color: var(--brighter-4) !important;
  transition: background-color 200ms ease-out;
}

.seq_record_live.selected {
  animation: indicator 1s infinite alternate;
}

.seq_gatelength {
  margin-left: 4px;
}

@keyframes indicator {
  0% {
    background-color: inherit;
  }

  100% {
    background-color: var(--record-highlight);
    color: #fff;
  }
}

.seq .grid .step.selected-step {
  background-color: var(--brighter-2);
  color: var(--brighter-4);
  box-shadow: 0 0 10px var(--brighter-4);
}

.seq.hot .step.selected-step,
.seq.hot .stepmarker {
  background-color: var(--record-highlight) !important;
}

.seq .grid .step:nth-child(4n + 1) {
  border-bottom-color: var(--darker-3);
}

.seq .grid .step.active:nth-child(4n + 1) {
  border-bottom-color: var(--brighter-4) !important;
}

.seq .step-info {
  padding: 4px 8px;
  position: absolute;
  left: 8px;
  right: 8px;
  top: 100%;
  z-index: 1;
  display: none;
}

.seq .step-info .note {
  background-color: var(--brighter-1);
  color: var(--text-base-color);
  padding: 2px 4px 2px 4px;
  display: inline-block;
  position: relative;
  /* box-shadow: 0 1px 4px #00000060; */
}

.seq .step-info .note .velocity {
  position: absolute;
  height: 0;
  bottom: 0;
  left: 0;
  /* width: 2px; */
  right: 0;
  background-color: var(--darker-0);
  border-top: 1px solid var(--darker-1);
}

.zone.disabled .seq .step-info,
.zone.disabled .seqtools {
  display: none;
}

.step-controls {
  border-bottom: 1px solid var(--brighter-1);
  margin-bottom: 4px;
  padding-bottom: 4px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.step-notes {
  flex-grow: 1;
  padding: 2px;
  cursor: ew-resize;
}

.step-notes:hover {
  outline: 2px solid var(--darker-1);
}

.step-notes i {
  color: var(--brighter-2);
}

.step-info-close {
  /* position: absolute;
  top: 4px;
  right: 4px; */
  cursor: pointer;
  font-size: 14px;
}

.seq.has-selection .step-info {
  display: block;
}

.seqprogress {
  position: absolute;
  top: 32px;
  left: 9px;
  height: 4px;
  width: calc(100% - 18px);
  padding: 0;
  border: none;
}

.seqprogress::-webkit-progress-bar {
  background-color: transparent;
}
.seqprogress::-webkit-progress-value {
  background-color: var(--brighter-2);
}

.show-seq .seqprogress {
  display: none;
}

body:not(.running) .seqprogress {
  display: none !important;
}

#clockOutPortWindow,
#inputPortWindow {
  position: fixed;
  background: var(--bg-select-window);
  color: var(--brighter-3);
  padding: 5px;
  top: 50px;
  right: calc(50% - 210px);
  z-index: 2;
  font-size: 12px;
  display: none;
  width: 250px;
  box-shadow: 0 0 10px var(--shadow-zone);
  max-height: 90vh;
  overflow-y: auto;
}

#clockOutPortWindow input {
  vertical-align: bottom;
}

.selectWindowHint {
  font-size: 0.85em;
  margin: 1em 0;
}

#inputPortWindow {
  top: 25px;
  right: calc(50% - 206px);
  width: 380px;
}

#clockOutPortList,
#inputPortList {
  padding-top: 5px;
}

#clockOutPortList {
  margin: 5px 0;
}

.clockOutOption {
  display: flex;
  align-items: center;
  color: var(--brighter-2);
  margin-bottom: 3px;
  font-size: 11px;
  justify-content: space-between;
}

.clockOutOption:hover {
  background-color: var(--brighter-0);
}

.clockOutOption select {
  visibility: hidden;
}

.clockOutOption.selected {
  color: var(--brighter-4);
}

.clockOutOption.selected select {
  visibility: visible;
}

.clockOutOption span {
  margin: 1px 5px 0 5px;
}

.clockOutOption .chsel {
  flex-grow: 1;
  text-align: right;
}

.clockOutOption .outname {
  flex-grow: 1;
}

.sendCancel {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

#clockOutPortsCount {
  font-family: monospace;
  padding-right: 6px;
  margin-left: 5px;
}

#toast {
  position: fixed;
  width: 260px;
  left: 50%;
  top: 50px;
  margin-left: -130px;
  background: var(--bg-toast);
  color: var(--text-toast-color);
  font-size: 12px;
  box-shadow: 1px 1px 3px var(--shadow-zone);
  display: none;
  z-index: 2;
}

/* #toast.fade {
  animation: 2s 1 ease-in toastfade;
}

#toast.fadelong {
  animation: 500ms 1 ease-in toastfade;
} */

#toast .toastinner {
  padding: 5px;
  text-align: center;
}

/* @keyframes toastfade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.popupsettings {
  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  display: none;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 16px;
  cursor: default;
}

.popup {
  background-color: var(--bg-color-popup);
  border: 1px solid var(--brighter-0);
  border-radius: 4px;
  box-shadow: 0 0.5px 2px var(--darker-4);
  padding: 8px;
  color: var(--text-base-color);
}

#tools {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  background-color: var(--bg-topbar-transparent);
  padding: 4px 6px;
  font-size: 12px;
  gap: 5px;
  color: var(--brighter-3);
  box-shadow: 0 2px 5px var(--shadow-topbar);
  border: 1px solid var(--border-topbar);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.selectSeq {
  width: 48px;
  text-align: center;
  background-color: var(--bg-topbar-button);
  padding: 2px;
  cursor: pointer;
}

.selectSeq.selected {
  background-color: var(--orange-highlight);
}

#newzone {
  background-color: var(--bg-topbar-button);
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 4px;
}

#newzone:hover,
.selectSeq:not(.selected):hover {
  background-color: var(--brighter-1);
  color: var(--brighter-2);
}

#valuefollow {
  position: absolute;
  display: none;
  z-index: 1000;
  pointer-events: none;
  background: var(--bg-loadsave);
  color: var(--text-base-color);
  border-radius: 4px;
  padding: 4px;
  margin-left: -1rem;
  text-align: center;
  font-size: 12px;
  margin-top: 1rem;
  box-shadow: 1px 1px 3px var(--shadow-zone);
}

#contextmenu {
  position: fixed;
  display: none;
  padding: 2px;
  background-color: var(--bg-contextmenu);
  color: var(--text-contextmenu-color);
  font-size: 12px;
  margin: 0;
  z-index: 2;
}
#contextmenu li {
  margin: 2px 0;
  padding: 2px;
}

#contextmenu li.disabled {
  color: var(--darker-2);
  font-style: italic;
  pointer-events: none;
}

#contextmenu li:hover {
  background-color: var(--text-contextmenu-color);
  color: var(--bg-contextmenu);
}

#contextmenu hr {
  border: none;
  border-top: 1px solid var(--darker-2);
}

.contextMenuTrigger {
  outline: 2px solid var(--brighter-2);
  outline-offset: 2px;
}

#contextmenu,
.contextMenuTrigger {
  box-shadow: 0 0.5px 2px var(--darker-4);
}
