@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(./res/MaterialIcons-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./res/PotanoSans-Regular.ttf) format('ttf');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  vertical-align: middle;
}

:root {
  --bg-window: #272422;
  --fg-window: #ddd;
  --scrollbar: #383838;
  --bg-topbar: #2f2f2f;
  --shadow-topbar: #272422;
  --border-topbar: #000;
  --highlight-topbar: #3c3c3c;
  --bg-topbar-button: #464048;
  --fg-topbar-button: var(--brighter-3);
  --shadow-topbar-button: #0008;
  --bg-topbar-button-active: #666;
  --fg-topbar-button-active: #ccc;
  --highlight-bpm-value: #0cc;
  --fg-midi-update: #000;
  --bg-midi-update: #fff;
  --bg-loadsave: #444;
  --bg-loadsave-item: #555;
  --bg-select-window: #111;
  --shadow-zone: #111;
  --fg-channel-select: #000;

  --bg-zone-disabled: rgba(255, 255, 255, 0.07);

  --brighter-0: rgba(255, 255, 255, 0.07);
  --brighter-1: rgba(255, 255, 255, 0.1);
  --brighter-2: rgba(255, 255, 255, 0.3);
  --brighter-3: rgba(255, 255, 255, 0.5);
  --brighter-4: rgba(255, 255, 255, 0.7);

  --darker-1: rgba(0, 0, 0, 0.1);
  --darker-2: rgba(0, 0, 0, 0.3);
  --darker-3: rgba(0, 0, 0, 0.5);
  --darker-4: rgba(0, 0, 0, 0.7);

  --red-highlight: rgba(196, 0, 0, 0.4);
  --record-highlight: rgba(255, 0, 0, 0.8);
  --green-highlight: rgba(0, 196, 0, 1);
}

body.altTheme {
  --brighter-0: rgba(255, 255, 255, 0.125);
  --brighter-1: rgba(255, 255, 255, 0.25);
  --brighter-2: rgba(255, 255, 255, 0.5);
  --brighter-3: rgba(255, 255, 255, 0.75);
  --brighter-4: rgba(255, 255, 255, 1);

  --darker-1: rgba(0, 0, 0, 0.2);
  --darker-2: rgba(0, 0, 0, 0.67);
  --darker-3: rgba(0, 0, 0, 0.75);
  --darker-4: rgba(0, 0, 0, 1);

  --fg-topbar-button: var(--brighter-3);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Potano Sans', Verdana, sans-serif;
  background: var(--bg-window);
  color: var(--fg-window);
  margin: 30px 0 0 0;
}

* {
  box-sizing: border-box;
  user-select: none;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
}

p {
  margin: 0 0 0.5em 0;
}

body.dragging * {
  cursor: col-resize;
}

select {
  outline: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  padding: 4px;
}

#midisettings {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-topbar);
  padding: 2px 5px;
  font-size: 12px;
  color: var(--brighter-3);
  box-shadow: 0 2px 5px var(--shadow-topbar);
  border-bottom: 1px solid var(--border-topbar);
}

#midisettings .controls {
  margin: 0 auto;
}

#midisettings .row {
  display: flex;
  align-items: center;
  padding: 2px 0;
  min-height: 24px;
}

#midisettings label {
  display: inline-block;
  min-width: 38px;
}

#midiInputSelector {
  position: relative;
  height: 18px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 380px;
  border: 1px solid var(--darker-3);
  background-color: var(--darker-2);
  color: var(--brighter-3);
  font-family: Arial;
  font-size: 12px;
  padding: 0 0 0 4px;
  margin: 0 0 0 2px;
}

#clockSendButton::after,
#midiInputSelector::after {
  content: '⌄';
  position: absolute;
  font-size: 15px;
  color: var(--brighter-3);
  right: 0;
  top: -40%;
}

#midisettings select,
.clockOutOption select {
  width: 170px;
  border: 1px solid var(--darker-3);
  background-color: var(--darker-2);
  color: var(--brighter-3);
  font-size: 12px;
  padding: 0;
  margin: 0 2px;
}

#midiInputSelector,
#midisettings select {
  transition: background-color 1s, color 1s;
}

option {
  color: black;
}

/* #midisettings select option,
.clockOutOption select option {
  color: var(--brighter-4);
  background-color: var(--darker-4);
} */

/* .updated #midisettings select,
.updated #midiInputSelector {
  background-color: var(--bg-midi-update) !important;
  color: var(--fg-midi-update);
} */

.clockOutOption select {
  width: auto !important;
}

#midisettings input {
  width: 40px;
  border: 1px solid var(--darker-3);
  background-color: var(--darker-2);
  color: var(--brighter-3);
  font-size: 12px;
  padding: 0;
}

#midisettings input:focus-visible {
  outline: none;
}

#midisettings .toggle {
  background-image: linear-gradient(#00000000, #00000040);
  padding: 0 10px;
}

#midisettings .internal {
  visibility: hidden;
}

#midisettings .isInternal .internal {
  visibility: visible;
}

#clockSendButton {
  position: relative;
  background-color: var(--darker-2);
  border: 1px solid var(--darker-3);
  cursor: pointer;
  display: flex;
  height: 18px;
  padding: 0 4px;
  align-items: center;
  margin-left: 2px;
  width: 55px;
}

.toolbar {
  margin-bottom: 6px;
}

.toolbar .lightButton .material-icons {
  font-size: 16px;
}

.lightButton {
  display: inline-block;
  padding: 0 4px;
  background: var(--bg-topbar-button);
  color: var(--fg-topbar-button);
  cursor: pointer;
  border: none;
  min-width: 24px;
  text-align: center;
  height: 16px;
  vertical-align: top;
  margin: 0 4px 0 0;
  box-shadow: 0 0 2px var(--shadow-topbar-button);
}

.lightButton.active {
  background: var(--bg-topbar-button-active);
  color: var(--fg-topbar-button-active);
}

.lightButton .material-icons {
  font-size: 14px;
}

.lsCancel {
  position: absolute;
  top: 0.5em;
  right: 2px;
  cursor: pointer;
  font-size: 1.5em;
}

#midisettings .left {
  margin: 0 0 0 8px;
}

#displayBPM {
  display: inline-block;
  text-align: center;
  background-color: var(--darker-2);
  border: 1px solid var(--darker-3);
  width: 50px;
  cursor: col-resize;
}

#displayBPM:hover,
.dragging #displayBPM {
  color: var(--highlight-bpm-value);
  box-shadow: 0 0 10px var(--highlight-bpm-value);
}

#displayBPM:hover,
.dragging #displayBPM {
  color: var(--highlight-bpm-value);
  box-shadow: 0 0 10px var(--highlight-bpm-value);
}

.padded {
  padding: 30px 5px 0 5px;
}

#zones {
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}

#tools {
  margin-top: 8px;
  padding: 0 8px;
}

.zonedrag #tools {
  display: none;
}

#newzone {
  background: var(--bg-topbar);
  margin: 0 auto;
  font-size: 12px;
  width: 72px;
  height: 24px;
  line-height: 24px;
  display: block;
  text-align: center;
  color: var(--brighter-1);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 5px var(--shadow-topbar);
  /* transition: all 1s ease-in; */
}

#newzone:hover {
  background: var(--bg-topbar-button);
  color: var(--brighter-2);
}

.zone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: relative;
  color: var(--brighter-4);
  font-size: 12px;
  /* margin: 5px auto; */
  padding: 8px;
  width: 700px;
  /* min-width: 900px; */
  box-shadow: 0 2px 10px var(--shadow-zone);
  /* border: 1px solid var(--zone-color); */
  background-image: linear-gradient(#00000000, #00000040);
  border-radius: 6px;
}

.zone.placeholder {
  visibility: hidden;
}

.zone.droptarget {
  outline: 4px solid #eee;
}

.zone.dragged {
  position: absolute;
  cursor: grabbing;
  z-index: 1;
  opacity: 0.8;
}

.zone.initialising {
  text-align: center;
  padding: 30px;
  color: var(--fg-window);
}

.dragging .zone {
  transition: margin 250ms 50ms;
}

.zone.disabled {
  box-shadow: none;
  background-image: none;
  /* border-color: transparent; */
}

.zone.disabled:not(.soloed-out) .ch.enabled:not(.selected) {
  background-color: var(--zone-color);
}

.zone input[type='color'] {
  display: none;
}

.zone input[type='number'] {
  height: 20px;
  padding: 0 0 0 0;
  min-width: 4em;
}

.zone .check input[type='number'] {
  height: 1em;
  margin: 2px 0 0 2px;
  min-width: fit-content;
  background-color: transparent;
  text-align: start;
  border: none;
}

.zone input[type='number']:focus-visible {
  outline-color: var(--brighter-1);
}

.channels {
  display: flex;
}

.ch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 20px;
  font-size: 10px;
  margin-left: 8px;
  text-align: center;
  color: var(--brighter-3);
  background-color: var(--darker-1);
  cursor: pointer;
}

.ch:first-child {
  margin-left: 0;
}

.ch.state {
  width: 24px;
  font-size: 12px;
}

.state.selected {
  box-shadow: 0 0 8px var(--darker-2);
}

.outselection {
  position: relative;
}

.channels input.output-config-name {
  position: absolute;
  left: 0;
  text-align: left;
  width: 130px;
  background-color: var(--bg-color);
  height: 20px;
  padding: 0 4px;
}

.disabled .channels input.output-config-name {
  background-color: #333333;
}

/* .disabled .ch.selected, */
/* .disabled .channels select.outport, */
/* .disabled .channels input.output-config-name {
  background-image: linear-gradient(90deg, var(--zone-color), transparent);
} */

/* .disabled .channels input.output-config-name::placeholder {
  color: var(--zone-color);
} */

.sendClock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--brighter-1);
  margin-left: 8px;
  cursor: pointer;
}

.sendClock.selected {
  color: var(--brighter-2);
}
.ch.enabled.selected,
.ch.selected {
  border-color: transparent;
  background-color: var(--brighter-2);
}

.ch.selected {
  color: var(--fg-channel-select);
}

.ch.enabled.selected {
  color: var(--brighter-4);
}

.ch.enabled:not(.selected) {
  background-color: var(--brighter-1);
}
.isdisabled {
  display: none;
}

.disabled .isdisabled {
  display: inline;
}

.disabled .isenabled {
  display: none;
}

.ch.enabled,
.soloed-out .ch.enabled.selected,
.zone.disabled .ch.enabled.selected {
  background-color: var(--darker-1);
}

.check.arp_hold.selected {
  background-color: var(--red-highlight);
  color: var(--brighter-3);
}

.ch.showarp {
  margin-right: 13px;
}

.ch.solo {
  background-color: var(--darker-1);
}

.ch.solo.selected {
  background-color: var(--green-highlight);
}

.settings,
.arp-settings {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: var(--brighter-3);
  font-size: 12px;
}

.hidden {
  display: flex;
  flex-wrap: wrap;
}

.hidden *,
.mch {
  opacity: 0;
  transition: opacity 2s, width 200ms linear, margin 200ms linear;
  pointer-events: none;
}

.mch {
  overflow: hidden;
  width: 0;
  margin: 0;
}

.zone:hover .mch,
.mch.selected,
.mch.sendClock {
  width: 24px;
  margin-left: 8px;
}

.zone:not(.disabled):hover .hidden *,
.zone:hover .mch,
.mch.selected {
  opacity: 1;
  transition: opacity 200ms, width 100ms linear, margin 100ms linear;
  pointer-events: all;
}

.zone.disabled .range {
  pointer-events: none;
}

.arp-settings {
  display: none;
  gap: 5px;
  padding: 4px;
  background-color: var(--bg-color-alternative);
}

.arp-enabled .arp-settings {
  display: flex;
  align-items: center;
}

/* .check.arp_enabled.selected {
  background-color: var(--bg-color-alternative);
} */

.zonetools {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

.rtool {
  font-size: 14px;
  color: var(--brighter-2);
  margin-left: 6px;
  text-align: center;
}

.rtool:hover {
  color: var(--brighter-4);
}

.step-info-close:hover,
.rtool.delzone:hover {
  color: #900;
  text-shadow: 0 0 2px #fff;
}

.rtool,
.rtool label {
  cursor: pointer;
}

.rtool .material-icons {
  vertical-align: top;
}

.dragzone {
  padding: 0 4px;
  cursor: grab;
}

.dragged .dragzone {
  cursor: grabbing;
}

.label {
  margin: 0 4px;
}

.action {
  transition: background-color ease-out 200ms;
}

.action:active {
  background-color: var(--brighter-4);
}

.check {
  display: flex;
  margin-right: 10px;
  align-items: center;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.check:hover {
  border-color: var(--brighter-3);
}

.action,
.val,
.toggle,
.drop-down {
  margin: 0 8px 0 0;
  height: 20px;
  display: flex;
  align-items: center;
}

.action,
.toggle {
  padding: 0 6px;
  background-color: var(--darker-1);
  cursor: pointer;
  min-width: 55px;
}

.action {
  min-width: 0;
}

.check .material-icons {
  /* margin-right: 4px; */
}

.check.mch {
  min-width: 0;
}

.patgen {
  margin-left: 4px;
}

.check.mch {
  background-color: transparent !important;
}

.check.selected {
  /* background-color: var(--brighter-3);
  color: var(--fg-channel-select);
  border-color: transparent; */
}

.check.selected .material-icons {
  /* color: var(--darker-3); */
}

.check.mini {
  font-size: 0.66em;
  height: 14px;
}

.sel,
.selected .unsel {
  display: none;
}

.selected .sel {
  display: inherit;
}

.sel,
.unsel {
  margin-right: 5px;
}
/* 
.check.arp_enabled {
  width: 68px;
  margin-left: 0;
  position: relative;
} */

.zone input.percent {
  width: 80px;
  background: var(--brighter-1);
}

input[type='range'] {
  -webkit-appearance: none;
}

.zone input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: var(--brighter-1);
  border: none;
  border-radius: 3px;
}

.zone input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--brighter-4);
  margin-top: -3px;
}

.zone input[type='range']:focus {
  outline: none;
}

.zone input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--brighter-1);
}

.octaves {
  border-right: 1px solid var(--brighter-2);
  height: 14px !important;
}

.octselect {
  display: inline-flex;
  width: 14px;
  height: 14px;
  border: 1px solid var(--brighter-2);
  border-right: none;
  cursor: pointer;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.octselect.octcenter:not(.selected)::after {
  content: '·';
  color: var(--brighter-2);
  font-size: 0.75em;
}

.octselect.selected {
  background-color: var(--brighter-2);
  border: 1px solid var(--brighter-2);
}

.octselect.selected + .octselect {
  border-left: none;
}

.zone select,
.zone input {
  border: none;
  background-color: var(--darker-1);
  color: var(--brighter-3);
  font-size: 12px;
  padding: 0;
  text-align: center;
}

.zone input {
  width: 30px;
  vertical-align: middle;
}

::placeholder {
  color: var(--brighter-2);
  opacity: 1;
}

.zone select.outport {
  background-color: transparent;
  vertical-align: top;
  width: 150px;
  text-align: left;
}

.zone select.channel {
  background-color: transparent;
}

.zone select {
  height: 20px;
}

.submit {
  display: inline-block;
  color: var(--brighter-4);
  background-color: var(--darker-1);
  padding: 2px 4px;
  cursor: pointer;
  margin: 0 4px;
}

/* .zone select option {
  background-color: var(--bg-topbar);
  color: var(--brighter-4);
} */

/* .rangeholder {
  margin: 6px auto;
} */

.range {
  position: relative;
  height: 28px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.dragvalue .range,
.dragvalue .zone:not(.show-cc) {
  pointer-events: none;
}

.range canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
}

.rangeborder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--brighter-1);
}

.marker {
  position: absolute;
  display: none;
  top: 7px;
  width: 32px;
  font-size: 12px;
  padding: 1px 0 0 0;
  text-align: center;
  transition: 400ms left, 400ms right;
}

.marker.low {
  top: 0;
}

.marker.high {
  top: 10px;
}

.rangeholder:hover .marker {
  display: block;
}

.join {
  position: absolute;
  top: 0;
  height: 28px;
  background-color: var(--brighter-0);
}

.current {
  display: none;
  position: absolute;
  top: 6px;
  height: 14px;
  background-color: var(--brighter-1);
}

.range:hover .current {
  display: block;
}

.oct {
  position: absolute;
  top: 0;
  background-color: var(--brighter-0);
  color: var(--brighter-1);
  width: 1px;
  bottom: 0;
  font-size: 8px;
  text-indent: 4px;
}

.show-seq .rangeholder {
  margin-top: 0;
}

.show-seq .range,
.show-seq .join {
  height: 14px;
}

.show-seq .current {
  top: 2px;
  height: 10px;
}

.show-seq .marker {
  font-size: 50%;
  width: 16px;
}

.show-seq .marker.high {
  top: 5px;
  padding-right: 6px;
}

.show-seq .oct {
  overflow: hidden;
}

.toggle {
  margin-left: 7px;
  width: 50px;
  text-align: center;
}

.toggle.selected {
  background-color: var(--red-highlight);
}

#startClockButton::before {
  content: 'Start';
}

#startClockButton.selected::before {
  content: 'Stop ';
}

.pattern {
  position: relative;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.zone .euclid {
  position: absolute;
  cursor: default;
  display: none;
  width: 170px;
  padding: 8px;
  background-color: var(--bg-color);
  box-shadow: 0 0 8px var(--shadow-topbar-button);
  bottom: 25px;
  text-align: center;
  line-height: 1.2em;
  transition: opacity 667ms;
}

.ccpotttools label {
  display: block;
  font-size: 9px;
  margin-bottom: 4px;
  color: var(--brighter-4);
}

#loadsave {
  position: fixed;
  background: var(--bg-loadsave);
  padding: 0 10px 10px 10px;
  top: 30px;
  left: 20px;
  z-index: 2;
  font-size: 12px;
  display: none;
  min-width: 200px;
  box-shadow: 0 0 10px var(--shadow-zone);
  max-height: 90vh;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
  padding: 0;
}

li {
  display: block;
  margin: 0.5em 0;
  padding: 4px;
  background: var(--bg-loadsave-item);
}

#loadsave li {
  cursor: pointer;
  border: 1px solid transparent;
}

#loadsave li i {
  float: right;
  border-left: 1px solid var(--brighter-2);
  padding: 0 3px;
}

#loadsave li i:hover {
  background-color: #069;
}

#loadsave .save *[data-act='add'] {
  display: none;
}

#loadsave li:hover {
  border-color: var(--brighter-1);
}

#loadsave input {
  border: 1px solid var(--darker-3);
  background-color: var(--darker-1);
  color: var(--brighter-3);
  padding: 1px 2px;
}

.ccpots {
  display: none;
  margin-top: 8px;
  padding: 8px 0 0 0;
  font-size: 10px;
  flex-wrap: wrap;
  --ccpot-width: 56px;
  width: calc((var(--ccpot-width) + 5px) * 8);
}

.show-cc .ccpots {
  display: flex;
}

.show-cc .showccs {
  background-color: var(--brighter-2);
}

.show-seq .showseq {
  background-color: var(--brighter-2);
}

.ccpot {
  position: relative;
  width: var(--ccpot-width);
  height: 64px;
  perspective: 200px;
}

.ccpot.moved-left,
.ccpot.moved-right {
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

.ccpot.moved-left {
  animation-name: moved-left;
}

.ccpot.moved-right {
  animation-name: moved-right;
}

@keyframes moved-left {
  from {
    left: var(--ccpot-width);
    background-color: var(--darker-1);
  }

  to {
    left: 0;
    background-color: transparent;
  }
}

@keyframes moved-right {
  from {
    left: calc(var(--ccpot-width) * -1);
    background-color: var(--darker-1);
  }

  to {
    left: 0;
    background-color: transparent;
  }
}

.ccpot .ccpot-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.ccpots.cc-edit .ccpot-inner {
  transform: rotateY(-180deg);
}

.ccpot-front,
.ccpot-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.ccpot-back {
  transform: rotateY(-180deg);
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(45deg, var(--darker-1), transparent);
  border: 1px solid var(--brighter-0);
  justify-content: space-between;
}

.ccpot-back .material-icons {
  font-size: 12px;
}

.ccpots.cc-edit .ccpot-front {
  pointer-events: none;
}

.ccpots.cc-edit .edit-cc-button {
  background-color: var(--brighter-1);
}

.cc_tools {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  /* border-top: 1px solid var(--darker-1); */
  color: var(--brighter-2);
  transition: opacity 500ms;
}

.ccpot:hover .cc_tools {
  opacity: 1;
}

.ccpot input {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.ccpot svg {
  position: absolute;
  top: 3px;
  left: 0;
}

.ccpot.spacer .ccpot-inner::after {
  content: ' ';
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 50%;
  width: 1%;
  background-color: var(--brighter-2);
}

.ccpot.spacer .ccpot-front {
  display: none;
  pointer-events: none;
}

.ccpot.spacer .ccpot-back .cc,
.ccpot.spacer .ccpot-back .cclabel {
  visibility: hidden;
}

.ccpot .cclabel {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 9px;
  color: var(--brighter-3);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ccpot input.cclabel {
  color: inherit;
}

.ccpot .value {
  position: absolute;
  cursor: default;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
}

/* .ccpot .ccpot-front .cc-edit-action {
  position: absolute;
  opacity: 0;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 9px;
  color: var(--brighter-2);
}

.ccpot .ccpot-front .cc-edit-action:hover {
  opacity: 1;
} */

.ccpot .cc {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.ccpot .cc input {
  width: 33%;
  text-align: center;
  font-size: 10px;
  background-color: var(--darker-1);
}

.ccpotttools {
  height: 64px;
  width: var(--ccpot-width);
  color: var(--brighter-2);
  font-size: 9px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ccpotttools .material-icons {
  font-size: 16px;
}

.ccpots *[data-action] {
  cursor: pointer;
}

.innertoggle {
  font-size: 0.75em;
  border: 1px solid var(--brighter-2);
  color: var(--brighter-2);
  padding: 0 3px;
  float: right;
  margin-left: 5px;
}

.innertoggle.selected {
  color: var(--brighter-4);
  background-color: var(--brighter-2);
}

.arp-settings .innertoggle {
  border-color: var(--brighter-1);
  color: var(--brighter-3);
}

.arp-settings .innertoggle.selected {
  color: var(--brighter-4);
}

.arp-settings .innertoggle.selected {
  background-color: var(--brighter-2);
}

.fixedvel select {
  height: 12px;
  font-size: 8px;
  vertical-align: middle;
}

.clockIndicator.hasClock {
  border-right-color: #0a0 !important;
}

.seq {
  display: none;
  margin: 4px 0;
  /* border: 1px solid var(--brighter-1); */
  background-color: var(--bg-color-alternative);
}

.disabled .seq {
  background-color: transparent;
}

.seqtools {
  display: flex;
  align-items: center;
  padding: 6px 4px;
}

.show-seq .seq {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}

.seq .grid {
  position: relative;
  padding: 8px;
  --step-size: 20px;
}

.step-container {
  display: flex;
  flex-wrap: wrap;
  width: calc((var(--step-size) + 4px) * 16 + 5px);
}

.seq .grid .step,
.step-info .stepmarker {
  display: flex;
  position: relative;
  margin: 2px 4px 2px 0;
  width: var(--step-size);
  height: var(--step-size);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--darker-1);
  /* border-radius: 2px; */
  color: var(--darker-2);
  background-color: var(--darker-1);
  font-size: 0.85em;
  text-align: center;
  cursor: pointer;
  transition: background-color 200ms ease-out;
}

.step-info .stepmarker {
  display: inline-flex;
  cursor: default;
}

.disabled .seq .grid .step {
  height: 5px;
  color: transparent;
  font-size: 0;
  overflow: hidden;
}

.zone.disabled.show-seq .showseq {
  background-color: var(--zone-color);
}

.zone.disabled .seq .grid .step {
  border: none;
  background-color: var(--darker-2);
}

.zone.disabled .seq .grid .step.active {
  background-color: var(--zone-color);
}

.seq .grid .step:hover {
  background-color: var(--brighter-2) !important;
}

.seq .grid .step.playhead {
  outline: 2px solid var(--brighter-4);
}

.seq .grid .step.unused {
  display: none;
}

.seq .grid .step.active {
  background-color: var(--brighter-1);
  border-color: var(--brighter-3) !important;
  color: var(--brighter-4);
}

.steps-changed .step.active,
.seq .grid.hot.steps-changed .step.selected-step {
  background-color: var(--brighter-4) !important;
  transition: background-color 200ms ease-out;
}

.seq .grid.hot .listen-indicator,
.seq_record_live.selected {
  animation: indicator 1s infinite alternate;
}

.seq_gatelength {
  margin-left: 4px;
}

@keyframes indicator {
  0% {
    background-color: inherit;
  }

  100% {
    background-color: var(--record-highlight);
    color: #fff;
  }
}

.seq .grid .step.selected-step {
  background-color: var(--brighter-2);
  color: var(--brighter-4);
  box-shadow: 0 0 10px var(--brighter-4);
}

.seq .grid.hot .step.selected-step {
  /* animation: indicator 2s infinite alternate; */
  background-color: var(--record-highlight) !important;
}

/* .seq .grid .step:nth-child(4n + 1)::before {
  content: '◤';
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  font-size: 50%;
} */

.seq .grid .step:nth-child(4n + 1) {
  border-bottom-color: var(--darker-3);
}

.seq .grid .step.active:nth-child(4n + 1) {
  border-bottom-color: var(--brighter-4) !important;
}

.seq .step-info {
  padding: 4px;
  color: var(--brighter-3);
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: var(--bg-color-alternative);
  box-shadow: 0 0 10px var(--shadow-topbar-button);
  display: none;
}

.seq .step-info .note {
  background-color: var(--brighter-1);
  color: var(--brighter-4);
  padding: 0 4px;
  box-shadow: 0 0 2px var(--darker-1);
}

.zone.disabled .grid .step-info,
.zone.disabled .seqtools {
  display: none;
}

.step-controls {
  border-top: 1px solid var(--brighter-1);
  margin-top: 0.5em;
  padding-top: 0.5em;
  display: flex;
  align-items: center;
}

.step-notes {
  min-height: 20px;
}

.step-info-close {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

.seq .has-selection .step-info {
  display: block;
}

.seqprogress {
  position: absolute;
  top: 57px;
  left: 9px;
  height: 4px;
  width: 9.15%;
  padding: 0;
  border: none;
}

.seqprogress::-webkit-progress-bar {
  background-color: var(--darker-1);
}
.seqprogress::-webkit-progress-value {
  background-color: var(--brighter-2);
}

.show-seq .seqprogress {
  display: none;
}

body:not(.running) .seqprogress {
  display: none !important;
}

#clockOutPortWindow,
#inputPortWindow {
  position: fixed;
  background: var(--bg-select-window);
  color: var(--brighter-3);
  padding: 5px;
  top: 50px;
  right: calc(50% - 210px);
  z-index: 2;
  font-size: 12px;
  display: none;
  width: 250px;
  box-shadow: 0 0 10px var(--shadow-zone);
  max-height: 90vh;
  overflow-y: auto;
}

#clockOutPortWindow input {
  vertical-align: bottom;
}

.selectWindowHint {
  font-size: 0.85em;
  margin: 1em 0;
}

#inputPortWindow {
  top: 25px;
  right: calc(50% - 206px);
  width: 380px;
}

#clockOutPortList,
#inputPortList {
  padding-top: 5px;
  /* border-top: 1px solid var(--brighter-0); */
  /* background-color: var(--darker-1); */
}

#clockOutPortList {
  margin: 5px 0;
}

.clockOutOption {
  display: flex;
  align-items: center;
  color: var(--brighter-2);
  margin-bottom: 3px;
  font-size: 11px;
  justify-content: space-between;
}

.clockOutOption:hover {
  background-color: var(--brighter-0);
}

.clockOutOption select {
  visibility: hidden;
}

.clockOutOption.selected {
  color: var(--brighter-4);
}

.clockOutOption.selected select {
  visibility: visible;
}

.clockOutOption span {
  margin: 1px 5px 0 5px;
}

.clockOutOption .chsel {
  flex-grow: 1;
  text-align: right;
}

.clockOutOption .outname {
  flex-grow: 1;
}

.sendCancel {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

#clockOutPortsCount {
  font-family: monospace;
}

#toast {
  position: fixed;
  width: 260px;
  left: 50%;
  top: 50px;
  margin-left: -130px;
  background: var(--brighter-3);
  color: var(--darker-4);
  font-size: 12px;
  box-shadow: 1px 1px 3px var(--shadow-zone);
  display: none;
  z-index: 2;
}

#toast.fade {
  animation: 2s 1 toastfade;
}

#toast.fadelong {
  animation: 5s 1 toastfadelong;
}

#toast .toastinner {
  padding: 5px;
  text-align: center;
}

@keyframes toastfade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes toastfadelong {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
