body {
  font-family: Arial, Helvetica, sans-serif;
  background: #272422;
  color: #ddd;
}
.symbol {
  width: 150px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.version {
  color: #ccc;
  text-align: center;
  font-size: small;
}

a {
  color: #3476d8;
}
